.heading-1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30%;
    width: 5px;
    height: 40px;
    background-color: $green-element-color;

    @media (min-width: 767px) and (max-width: 1200px) {
      left: -11px;
    }

    @media (min-width: 1119px) {
      left: -17px;
    }
  }
}
