.heading-2 {
  background-image: linear-gradient(
    270deg,
    rgb(248, 248, 248),
    rgb(255, 255, 255) 98.614%
  );

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: $grey-main-color;
  }
}
