.heading-2 {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    display: block;
    border-radius: 30%;
    width: 5px;
    height: 40px;
    background-color: $green-element-color;

    @media (min-width: 768px) {
      left: -24px;
    }

    @media (min-width: 1440px) {
      left: -32px;
    }
  }
}
