.swiper {
  width: 95%;
  height: 122px;

  @media (min-width: 767px) and (max-width: 1119px) {
    margin-bottom: 16px;
    width: 97%;
    height: 100%;
  }

  @media (min-width: 1119px) {
    width: 95%;
    height: 100%;
  }

  .swiper-slide {
    width: 240px;
    height: 72px;

    @media (min-width: 767px) and (max-width: 1119px) {
      width: 224px;
    }
  }

  .swiper-slide a {
    box-sizing: border-box;

    @media (min-width: 767px) and (max-width: 1119px) {
      width: 224px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: var(--swiper-pagination-top, 87px);
    left: 5px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet.swiper-pagination-bullet {
    margin: 0 10px 0 0;
  }

  .swiper-pagination {
    @media (min-width: 767px) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}
