body {
  position: relative;
  min-width: 320px;
  font-family: 'TTLake', sans-serif;
  font-weight: 400;
  color: $black-main-color;
  background-color: $grey-body-color;

  @media (min-width: 1440px) {
    display: flex;
    width: 1440px;
    margin: 0 auto;
  }
}

main {
  @media (min-width: 1440px) {
    width: 1120px;
  }
}

h1 {
  height: 55px;
}
