.brands {
  padding-top: 12px;

  @media (min-width: 767px) and (max-width: 1119px) {
    padding-bottom: 16px;
  }

  @media (min-width: 1119px) {
    padding-top: 34px;
    padding-bottom: 51px;
  }

  &__title {
    margin-bottom: 19px;

    @media (min-width: 767px) and (max-width: 1119px) {
      padding: 20px 23px;
      margin-bottom: 25px;
    }

    @media (min-width: 1119px) {
      margin-bottom: 27px;
    }
  }

  &__swiper {
    padding-bottom: 50px;
    padding-left: 16px;
    height: 122px;

    @media (min-width: 767px) and (max-width: 1119px) {
      padding-bottom: 16px;
      padding-left: 0;
      margin-bottom: 25px;
    }

    @media (min-width: 1119px) {
      padding-bottom: 0px;
      padding-left: 0;
      margin-bottom: 23px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      top: var(--swiper-pagination-top, 85px);
    }
  }

  &__list {
    display: flex;

    @media (min-width: 767px) {
      flex-wrap: wrap;
    }

    @media (min-width: 767px) and (max-width: 1119px) {
      gap: 16px 24px;
    }

    @media (min-width: 1119px) {
      gap: 16px 32px;
    }
  }

  &__item:nth-last-child(-n + 5) {
    @media (min-width: 767px) and (max-width: 1119px) {
      display: none;
    }
  }

  &__item:nth-last-child(-n + 3) {
    @media (min-width: 1119px) {
      display: none;
    }
  }

  &__card {
    align-items: center;
    height: 72px;
  }

  &__image {
    display: block;
    width: auto;
    height: 32px;
    object-fit: contain;
  }

  &__btn {
    display: none;

    @media (min-width: 767px) {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 92%;
    }

    @media (min-width: 1119px) {
      width: 93%;
    }
  }
}
