.hero {
  padding-top: 24px;
  padding-bottom: 6px;

  @media (min-width: 767px) {
    padding-bottom: 11px;
  }

  @media (min-width: 1119px) {
    position: relative;
    padding-bottom: 5px;
    margin-top: -79px;
    z-index: 0;
  }

  &__heading {
    position: relative;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 24px;

    @media (min-width: 767px) and (max-width: 1200px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1119px) {
      margin-bottom: 10px;
    }
  }

  &__nav {
    padding-left: 16px;
  }
}
