.hero {
  padding-top: 24px;
  // padding-bottom: 9px;

  @media (min-width: 767px) {
    padding-bottom: 11px;
  }

  @media (min-width: 1440px) {
    position: relative;
    padding-bottom: 5px;
    margin-top: -87px;
    z-index: 0;
  }

  &__container {
    padding-left: 16px;

    @media (min-width: 767px) {
      padding-left: 24px;
    }

    @media (min-width: 1440px) {
      padding-left: 35px;
    }
  }
}

.hero .hero__heading {
  // margin-bottom: 25px;
  margin-bottom: 17px;

  @media (min-width: 767px) and (max-width: 1200px) {
    margin-bottom: 32px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 10px;
  }
}
